{% extends 'base.html.twig' %}


{% block title %}Om mig{% endblock %}

{% block body %}
    <main class="main">
    <article class="article">
        <header>
            <h1>Om Mig Själv</h1>
        </header>


        <p>Hej på dig!</p>

        <p>Mitt namn är Hövre, men folk kallar mig även för Spindelkrabba eller Hyas Araneus.</p>

        <p>Jag gillar hav. Gärna rena hav med rent havsvatten!</p>

        <p>När jag var liten älskade jag leka kurragömma. Jag brukade plocka och fästa på mig alger, hydroider och liknande på skölden så att dykarna inte skulle hitta mig.</p>

        <p>Nu är det inte lika lätt, med mina långa ben. Däremot har jag märkt att många dykare är rädda av saker med många och långa ben, Hi Hi Hi Hi</p>

        <p>Kom och hitta mig om du kan!</p>

        <footer class="byline">

        <figure class="figure left">
            <img src="img/yngre_jag.jpg" width="480" alt="Bild på mig">
                <figcaption>Spindelkrabban</figcaption>
            </figure>

            <p class="author"><i>Skriven av en krabba.</i></p>

        </footer>

    </article>
</main>
{% endblock %}

