{% extends 'base.html.twig' %}

{% block title %}Kortspel{% endblock %}

{% block body %}

<h1>Kortspel [START]</h1>

<p>Hur många kort vill du dra?</p>

<form method="post" action="">
    <input type="number" name="num_cards" min="1" max="5" value="1">
    <input type="submit" name="do_it" value="Starta spelet">
</form>

{% endblock %}