{% extends 'base.html.twig' %}


{% block title %}Kortspel{% endblock %}

{% block main %}
<h1>Dra ett kort</h1>

<p>H채r 채r v채rdet p책 ditt kort:</p>

<ul>
    <li>{{ diceString }}</li>
</ul>

{% endblock %}
