{% extends 'base.html.twig' %}

{% block title %}Kortspel - Dra flera kort{% endblock %}

{% block body %}
<h1>Dra flera kort</h1>

<p>Du drog {{ num_cards }}  kort. Här är dina kort.</p>

<ul>
{% for card in cardsDraw %}
    <li>{{ draw }}</li>
{% endfor %}
</ul>

<p>Testa att dra
    <a href="{{ path('test_draw_num_cards', {num: 5}) }}">5</a>
    eller
    <a href="{{ path('test_draw_num_cards', {num: 10}) }}">10</a>
    kort.
</p>
{% endblock %}
