{% extends 'base.html.twig' %}

{% block title %}Om MVC{% endblock %}

{% block body %}
<div class="two-col-layout aside-right">
    <main class="main">
        <article class="article">
            <h1>Om kursen och webbplatsen</h1>
            <p>Enkel övnings-webbsida för kursen "MVC" (hos BTH). Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>

            <figure class="figure center">
                <img src="img/background.jpg" style="width: 100%; height: auto;"; alt="Bild havsvarelser.">
                <figcaption>Spindelkrabbans grannar.</figcaption>
            </figure>

        </article>
    </main>

    <aside class="aside">
        <article class="article">
            <h1>Kursen MVC</h1>

            <p>Kursen handlar om att komma igång med några av de olika teknologier som används för att bygga databasdrivna webbplatser.</p>

            <h1>Kursen MVC hos GitHub</h1>

            <p>Kursens länk hos GitHub är: <a href="https://github.com/dbwebb-se/mvc/tree/main"> GitHub länk</a></p>

            <h1>Mitt GitHub-repo</h1>

            <p>Länk till mitt repo GitHub är: <a href="https://github.com/andreyandy9697/mvc"> GitHub-repo</a></p>
        </article>
    </aside>
</div>
{% endblock %}