{% extends 'base.html.twig' %}

{% block title %}Redovisning{% endblock %}

{% block body %}
<div class="two-col-layout aside-left">
    <aside class="aside">
        <article class="article">
            <h2>Kmom - Länkar</h2>
            <ol>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
                <li><a href="#kmom10">kmom10</a></li>
            </ol>

            <h2>Kmom01</h2>

            <p>kmom01 är inte klar än</p>

            <h2>Kmom02</h2>

            <p>kmom02 är inte klar än</p>

            <h2>Kmom03</h2>

            <p>kmom03 är inte klar än</p>

            <h2>Kmom04</h2>

            <p>kmom04 är inte klar än</p>

            <h2>Kmom05</h2>

            <p>kmom05 är inte klar än</p>

            <h2>Kmom06</h2>

            <p>kmom06 är inte klar än</p>

            <h2>Projekt uppgift</h2>

            <p>kmom10 är inte klar än</p>
        </article>
    </aside>

    <main class="main">
        <article class="article">
            <header>
                <h1>Redovisning</h1>
                <p class="author">Skriven av en krabba.</p>
            </header>

            <figure class="figure center">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('img/yngre_jag.jpg') }}" style="width: 100%; height: auto;" alt="Bild på mig">
                </a>
            <figcaption>Här kommer min redovisning</figcaption>
            </figure>

            <header>
                <h2 id="kmom01">Kmom01 - Ramverk</h2>
            </header>


            <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>

            <header>
                <h2 id="kmom02">Kmom02 - Objektorientering</h2>
            </header>

            <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>

            <header>
                <h2 id="kmom03">Kmom03 - Applikation</h2>
            </header>

            <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>

            <h2 id="kmom04">Kmom04 - Enhetstestning</h2>

            <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>

            <header>
                <h2 id="kmom05">Kmom05 - ORM / Databas</h2>
            </header>

            <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>

            <header>
                <h2 id="kmom06">Kmom06 - Automatiserad test</h2>
            </header>

            <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>


            <h2 id="kmom10">kmom10 - Projekt</h2>

                        <p>1. </p>
            <p>2. </p>
            <p>3. </p>
            <p>4. </p>
            <p>5. </p>
            <p>6. </p>

        </article>
    </main>
</div>
{% endblock %}